.nav {
  position: fixed;
  width: 90%;
  margin: 0 auto;
  top: 0;
  padding: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
}

.nav ul {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.nav ul li {
  list-style: none;
  transform: none;
  transition: all 0.1s ease-in-out;
}

.nav ul li:hover {
  transform: scale(1.05);
}

.logo {
  color: #ff153c;
  margin-right: auto;
  font-size: 1.5rem;
  line-height: 2rem;
  text-rendering: optimizeLegibility;
  font-weight: 1000;
}

.logo:hover {
  text-decoration: inherit;
}
